body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-style: sans-serif;
}

#logo {
  text-align: center;
  margin-top: 142px;
  margin-bottom: 30px;
}

#input-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  width: 586px;
  position: relative;
}

#input-field input {
  width: 100%;
  font-size: 18px;
  padding: 9px;
  border: 1px solid gainsboro;
  /*border: 1px solid red;*/
}

#input-field img {
  position: absolute;
  height: 22px;
  top: 10px;
  right: 10px;
}

#input-field > input:hover {
  border: 1px solid #b3b3b3;
}

#input-field > input:focus {
  outline: none;
  border: 1px solid #4d90fe;
}

#button-group {
  text-align: center;
}

.btn {
  padding: 10px 16px;
  background: whitesmoke;
  color: gray;
  border-radius: 2px;
  border: 1px solid transparent;
}

.btn:hover {
  border: 1px solid #b3b3b3;
  color: black;
  box-shadow: 0px 3px 0px -2px #E8E8E8;
}

#search {
  margin-right: 4px;
}

footer {
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  background-color: #f2f2f2;
  border-top: 1px solid #e6e6e6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul {
    margin-top: 13px;
}

li {
  float: left;
}

li a {
    color: dimgray;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#left-footer {
  display: inline-block;
  padding-left: 30px;
}

#left-footer li {
  padding-right: 30px;
}

#right-footer {
  padding-right: 30px;
  float: right;
}

#right-footer li {
  padding-left: 30px;
}

#google-apps-icon {
  height: 16px;
  width: auto;
  -webkit-filter: opacity(0.6);
}

#google-apps-icon:hover {
  -webkit-filter: opacity(1);
}

#navbar-header {
  margin-top: 16px;
  width:100%;
  height:40px;
}

#header {
  padding-right: 30px;
}

#header-text a {
  color: #444;
}

#header ul li {
  padding-left: 22px;
}

.header-center {
  margin-top: 7px;
}

.images {
  margin-left: -7px;
}

#signin-button {
  color: white;
  background-color: #48f;
  padding: 7px 13px 8px 13px;
  border-radius: 2px;
  border: none;
}

#signin-button a {
  text-decoration: none;
  color: white;
}